body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: dimgray;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

nav {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 20px 0 0;
    color: black;
    font-size: 1.75em;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

nav form {
    position: absolute;
    margin-left: 160px;
}

p {
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
}

footer {
    position: absolute;
    margin-left: 160px;
}

#logo {
    font-size: 2em;
}

#search {
    position: relative;
}

#wrapper {
    position: relative;
    text-align: center;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 0 10px 0 10px;
    display: inline-block;
}

nav a:visited {
    color: black;
}

.selected {
   color: lightslategray;
}

nav a:hover {
    color: gray;
}

footer {
    font-size: 0.75em;
    text-align: left;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}